/* Reset image issues (IMPORTANT FIX) */
img {
    max-width: 100%;
    height: auto;
}

/* Body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #1e293b;
    padding: 20px;
    height: 100vh;
}
.sidebar li img.icon {
    width: 18px !important;
    height: 18px !important;
    max-width: 18px !important;
    max-height: 18px !important;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    width: 40px;
    height: auto;
}

/* Sidebar menu */
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar li:hover,
.sidebar .active {
    background: #3b82f6;
}


.icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
    flex-shrink: 0;
    opacity: 0.8;
    transition: 0.3s;
    filter: invert(1);
}

.sidebar li:hover .icon,
.sidebar .active .icon {
    opacity: 1;
    transform: scale(1.1);
}

/* Main content */
.main {
    flex: 1;
    padding: 20px;
}

/* Topbar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

/* Header */
.header {
    margin: 20px 0;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    background: #334155;
}

.card p {
    font-size: 24px;
    margin-top: 10px;
}

/* Chart */
.chart-card {
    margin-top: 30px;
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
}

.chart-card:hover {
    background: #334155;
}